<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time 3D Graphics with WebGL2</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">

    <!-- libraries -->
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/ch02_05_state-machine.css">

    <!-- modules -->
    <script src="static/js/utils.js"></script>
    <script src="static/js/glMatrix.js"></script>

    <!-- Vertex Shader -->
    <script id="vertex-shader" type="x-shader/x-vertex">
        #version 300 es
        precision mediump float;

        // Supplied vertex position attribute
        in vec3 aVertexPosition;

        uniform mat4 uModelViewMatrix;
        uniform mat4 uProjectionMatrix;

        void main() {
            // Set the position in clipspace coordinates
            gl_Position = uProjectionMatrix * uModelViewMatrix * vec4(aVertexPosition, 1.0);
        }
    </script>

    <!-- Fragment Shader -->
    <script id="fragment-shader" type="x-shader/x-fragment">
        #version 300 es
        precision mediump float;

        // Color that is the result of this shader
        out vec4 fragColor;

        void main() {
            // Set the result as red
            fragColor = vec4(0.8, 0.5, 0.0, 1.0);
        }
    </script>

    <script type="text/javascript">
        'use strict';

        let gl, program, vao, model, modelIndexBuffer;
        let projectionMatrix = mat4.create();
        let modelViewMatrix = mat4.create();

        // Given an id, extract the content's of a shader script
        //  from the DOM and return the compiled shader
        function getShader(id) {
            const script = document.getElementById(id);
            const shaderString = script.text.trim();

            // Assign shader depending on the type of shader
            let shader;
            if(script.type === 'x-shader/x-vertex') {
                shader = gl.createShader(gl.VERTEX_SHADER);
            } else if(script.type === 'x-shader/x-fragment') {
                shader = gl.createShader(gl.FRAGMENT_SHADER);
            } else {
                return null;
            }

            // Compile the shader using the supplied shader code
            gl.shaderSource(shader, shaderString);
            gl.compileShader(shader);

            // Ensure the shader is valid
            if(!gl.getShaderParameter(shader, gl.COMPILE_STATUS)) {
                console.error(gl.getShaderInfoLog(shader));
                return null;
            }

            return shader;
        }

        // Create a program with the appropriate vertex and fragment shaders
        function initProgram() {
            const vertexShader = getShader('vertex-shader');
            const fragmentShader = getShader('fragment-shader');

            // Create a program
            program = gl.createProgram();

            // Attach the shaders to this program
            gl.attachShader(program, vertexShader);
            gl.attachShader(program, fragmentShader);

            // Link shaders
            gl.linkProgram(program);

            // Ensure the program is valid
            if(!gl.getProgramParameter(program, gl.LINK_STATUS)) {
                console.error("Could not initialize shaders");
            }

            // Use this program instance
            gl.useProgram(program);
            // We attach the location of these shader values to the program
            //  instance for easy access later in the code
            program.aVertexPosition = gl.getAttribLocation(program, 'aVertexPosition');
            program.uProjectionMatrix = gl.getUniformLocation(program, 'uProjectionMatrix');
            program.uModelViewMatrix = gl.getUniformLocation(program, 'uModelViewMatrix');
        }

        function loadModel(filePath) {
            // We return the promise so that, if needed, you can know when the function has resolved
            return fetch(filePath)
                // Convert to a valid JSON
                .then(res => res.json())
                .then(data => {
                    model = data;

                    vao = gl.createVertexArray();
                    gl.bindVertexArray(vao);

                    // Setting up the VBO
                    const modelVertexBuffer = gl.createBuffer();
                    gl.bindBuffer(gl.ARRAY_BUFFER, modelVertexBuffer);
                    gl.bufferData(gl.ARRAY_BUFFER, new Float32Array(model.positions), gl.STATIC_DRAW);
                    gl.enableVertexAttribArray(program.aVertexPosition);
                    gl.vertexAttribPointer(program.aVertexPosition, 3, gl.FLOAT, false, 0, 0);

                    // Setting up the IBO
                    modelIndexBuffer = gl.createBuffer();
                    gl.bindBuffer(gl.ELEMENT_ARRAY_BUFFER, modelIndexBuffer);
                    gl.bufferData(gl.ELEMENT_ARRAY_BUFFER, new Uint16Array(model.position_indices), gl.STATIC_DRAW);

                    // Clean
                    gl.bindVertexArray(null);
                    gl.bindBuffer(gl.ARRAY_BUFFER, null);
                    gl.bindBuffer(gl.ELEMENT_ARRAY_BUFFER, null);
                })
                .catch(console.error);
        }

        // Set up the buffers
        function viewUniforms()
        {
            // Apply transformations
            projectionMatrix = mat4.perspective(projectionMatrix, 45.0, gl.canvas.width / gl.canvas.height, 0.1, 10000);
            modelViewMatrix = mat4.translate(modelViewMatrix, [0.0, 0.0, -5.0]);

            // Set uniforms
            gl.uniformMatrix4fv(program.uProjectionMatrix, false, new Float32Array(projectionMatrix));
            gl.uniformMatrix4fv(program.uModelViewMatrix, false, new Float32Array(modelViewMatrix));
        }

        // We call draw to render to our canvas
        function draw() {
            // Clear the scene
            gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
            utils.autoResizeCanvas(gl.canvas);
            gl.viewport(0, 0, gl.canvas.width, gl.canvas.height);

            // Bind the VAO
            gl.bindVertexArray(vao);

            // Bind IBO
            gl.bindBuffer(gl.ELEMENT_ARRAY_BUFFER, modelIndexBuffer);

            gl.drawElements(gl.TRIANGLES, model.position_indices.length, gl.UNSIGNED_SHORT, 0);

            // Clean
            gl.bindVertexArray(null);
            gl.bindBuffer(gl.ARRAY_BUFFER, null);
            gl.bindBuffer(gl.ELEMENT_ARRAY_BUFFER, null);
        }

        function render() {
            requestAnimationFrame(render);
            draw();
        }

        // Program starts here
        function init() {
            // Retrieve the canvas
            const canvas = utils.getCanvas('webgl-canvas');

            // Set the canvas to the size of the screen
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;

            // Rretrieve a WebGL context
            gl = utils.getGLContext(canvas);
            // Set the clear color to be black
            gl.clearColor(0, 0, 0, 1);

            gl.enable(gl.DEPTH_TEST);

            // Call the functions in a appropriate order
            initProgram();
            loadModel("/static/models/cone.json")
                .then(viewUniforms)
                .then(render);
        }

        // Call 'init' once the document has loaded
        window.onload = init;
    </script>
</head>
<body>
    <canvas id="webgl-canvas" width="800" height="600">
        Your browser does not support HTML5 canvas element.
    </canvas>
</body>
</html>